
// video image section
.o-p-vidsec {
    position: relative;
    &__vid-img {
        img {
            width: 100%;
            margin-top: 100px;
        }
    }
}

// video textbox section
.o-p-vidsec__text-box {
    padding: 85px 0;
    position: absolute;
    color: $mainColor;
    width: 100%;
    top: 25%;
    left: 50%;
    align-items: center;
    transform: translateX(-50%);
    display: inline-flex;
    flex-direction: column;

    h3 {
        @include latoFontFamily(300);
        font-size: 35px;
        text-align: center;
        color: $mainColor;
        margin-bottom: 10px;
    }
    p {
        @include poppinsFontFamily(400);
        color: $mainColor;
        font-size: 16px;
        letter-spacing: 10;
        padding: 10px 255px;
        text-align: center;
        line-height: 25px;
    }
    svg {
        margin-bottom: 50px;
    }    

}   