
// variables
$primaryColor : rgba(249, 154, 189, 0.938);
$mainColor : #000000;
$secondarynavColor : rgb(224, 130, 146);
$textColor : #ffffff;
$hoverColor : rgba(250, 24, 88, 0.902);

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}