
// colors variables
$mainColor: #ffffff;
$textColor: #000000;
$buttonColor: #325DFF ; // hsl(219, 89%, 50%)
$footerColor: #707070;
$menuColor : rgb(0, 0, 0);
$paragraphColor:#b3b2b2;
$borderColor: #dedcdc;