
@import "../object/utility/color";
@import "../foundation/font-face";

.mainviusal {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-image: url(../img/mainvisual-bg.png);
    justify-content: center;
  
    &__inner {
      max-width: 1017px;
      margin: 0 auto;
    }
  
    h2 {
      @include latoFontFamily(300);
      font-size: 100px;
      color: $mainColor;
      text-align: center;
    }
  
    p {
      @include poppinsFontFamily(400);
      font-size: 18px;
      color: $mainColor;
      text-align: center;
      line-height: 28px;
      margin-top: 20px;
    }
  }
  